/* Paramétrage de "box-sizing" à "border-box" sur l'intégralité de la page */
html {
    box-sizing: border-box;
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    /* reset des margin et padding instaurés pas le navigateur */
    margin: 0;
    padding: 0;
}

/* Fin de paramétrage global */

body {
    display: grid;
    /* 1ère ligne : header en taille automatique, se redimensionne au contenu avec auto
    2ème ligne : section principale (main), prend la place disponible avec 1 fr
    3ème ligne : footer, se redimensisonne au contenu avec auto */
    grid-template-rows: auto 1fr auto;
    /* on force la taille minimum du body à 100vh pour qu'il puisse prendre toute la place disponible */
    min-height: 100vh;
}

.link-button {
    background-color: #35556a;
    border-radius: 5px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.link-button:hover {
    background-color: #489cd4;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

main {
    background-color: #282c37;
}